/*class用.來寫*/
.class-1{
    background-color: gray;
}

/*id用#來寫*/
#id-1{
    background-color: gray;
}

/*同時給多個標籤屬性*/
#id-1, .class-1{
    background-color: gray;
}

/*一次套用到所有標籤*/
* {
    background-color: gray;
}

/*套用到列表*/
ul li{
    background-color: gray;
}

/*套用到有type屬性標籤的文字*/
[type]{
    background-color: gray;
}
[href]{
    background-color: red;
}

/*當滑鼠滑過h1標籤的物件時 會產生的效果*/
h1:hover{
    background-color: gray;
}